html {
    @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
}

#map {
    flex: 2;
}

[data-hook="images"] {
    flex: .5
}

main {
    flex: 1;
}