@import '_variables.scss';

section.page.photo-page {
	display: flex;
	flex-flow: column;
	overflow: scroll;
	height: 100%;
	header {
		flex: 0 0 auto;
		display: flex;
		height: 50px;
		padding: 20px 0 30px 0;
		background-color: $dark-gray;
		box-shadow: 0 1px 3px rgba(0,0,0,0.25);
		color: $dark-white;
		font-weight: bold;
		font-size: 26px;

		.title {
			flex: 1;
			h1, h2 {
				margin: 0;
				text-align: right;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			h1 {
				font-size: 24px;
			}

			h2 {
				font-size: 18px;
			}
		}

		img {
			max-height: 50px;
			margin: 0 10px 0 10px;
		}

		a {
			color: $dark-white;
			text-decoration: none;
			&.back {
				margin: 10px;
				margin-right: 10px;
			}
		}

	}
	.photo {
		flex: 1 1 auto;
		overflow: scroll;
		text-align: center;
		div.image {
			position: relative;
			padding: 20px;
			vertical-align:middle;
			img {
				padding:0;
				margin:0;
				vertical-align: middle;
				max-width: calc(100%);
				max-height: calc(100% - 100px);
			}

			dl {
				display: none;
				text-align: left;
				color: white;
				text-decoration: none;
				dt {
					display: none;
				}
				dd {
					float: right;
					padding: 0 5px 2px 5px;
					font-size: 10px;
					&> [data-hook="highest-rating"] {
						font-size: 24px;
					}
				}
			}

			&:hover {
				dl {
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
					margin: 20px;
					padding: 0;
				}
			}
		}
	}
}