body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') 500px Landakort
  .container
    section(data-hook="map")

    main(data-hook="page-container")
