section.page.photo-page
    header
        a(href="#/").back
            span.fa.fa-chevron-left
        div.title
            h1
                a(data-hook="image-title" target="_blank")
            h2
                a(data-hook="profile-name" target="_blank")
        a(data-hook="profile-image-link" target="_blank")
            img(data-hook="profile-image")

    div.photo
        a(data-hook="photo-page" target="_blank")
            img(data-hook="photo")
    //- dl
    //-     dt Rating
    //-     dd
    //-         span(data-hook="highest-rating")
    //-         |  (
    //-         span(data-hook="rating")
    //-         | )